.center {
	display: block;
	margin: 0 auto;
}

.logo {
	height: 15%;
	width: 15%;
}

.text-center {
	text-align: center;
	margin-bottom: 50px;
}

h3 {
	margin-left: 5px;
}

.unstyled {
	list-style-type: none;
}

.text-large {
	font-size: 2em;
}